@import '../variables.scss';

.footer {
  display: flex;
  width: 100%;
  padding: 20px 0;
  justify-content: space-around;
  border-top: $border;

  &__icon {
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
