@import url('https://fonts.googleapis.com/css?family=Niramit');
@import '../variables.scss';

.phone-book-user {
  display: flex;
  padding: 5px 30px 5px 15px;
  justify-content: flex-start;
  font-family: 'Niramit', sans-serif;

  &__image {

    img {
      display: block;
      width: 40px;
    }
  }

  &__details {
    padding-left: 20px;
    cursor: pointer;

    &__name {
      span{
        font-size: 12px;
      }
    }

    &__number {
      line-height: 10px;

      span {
        font-size: 10px;
        color: $greyColor;
      }
    }
  }
}
