@import '../../variables.scss';

.footer-icon {

  svg {
    display: block;
    width: 15px;
    height: 15px;
    fill: $greyColor;
  }
}

// State

.footer-icon {

  &--active {
    svg {
      fill: $greenColor;
    }
  }
}
